SHOW TABLES;
 
CREATE TABLE MEMBER(
    TEAMID VARCHAR(20),
    USERID VARCHAR(20) PRIMARY KEY,
    PASSWORD VARCHAR(20),
    NAME VARCHAR(20),
    AGE VARCHAR(20),
    SSN VARCHAR(20),
    GENDER VARCHAR(20),
    ROLL VARCHAR(30)
);
commit;
DROP TABLE MEMBER;
SELECT * FROM MEMBER;

INSERT INTO MEMBER( TEAMID, USERID, PASSWORD, NAME,AGE,SSN,GENDER,ROLL)
VALUES('LP','a01','a01','이형준',34,'850512-1000000','남자','팀장');
INSERT INTO MEMBER( TEAMID, USERID, PASSWORD, NAME,AGE,SSN,GENDER,ROLL)
VALUES('LP','a02','a02','최세인',35,'861011-1000000','남자','백단 담당');
INSERT INTO MEMBER( TEAMID, USERID, PASSWORD, NAME,AGE,SSN,GENDER,ROLL)
VALUES('LP','a03','a03','한희태',21,'980815-1000000','남자','백단 담당');











